
  .container {
    max-width: 960px;
  }
   
  .pricing-header {
    max-width: 700px;
  }  

  ul{

     display: inline-block;
     padding-top: 10px;
     list-style:none;
     padding-left: 0px;
     padding-bottom: 25px;

     }

.row div.col-3:nth-of-type(1){
    margin: 0;
    padding-left: 40px;
    height: 200px;

} 

.row div.col-3:nth-of-type(2){
    /* margin-left: 0; */
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 200px;
    text-align: center;

    padding-top: 10px;
    
} 

.row div.col-6:nth-of-type(3){
    /* margin-left: 0; */
    margin: 0;
    padding: 0;
    height: 200px;
    box-sizing: border-box;
} 

.indexAl > a{

    display: inline-block;
    /* text-align: center;
    float: none; */
    color: #313a43;
}

.topText > ul{
    color: #74818c;
    padding-left: 20px;
}


img{
    max-width: 100%;
    height: auto;
  
    overflow: hidden;
}

.logo01 > img {
    height: 180px;
}

.logo02 > img {

    height: 130px;
}

.logo03 > img {

    height: 180px;
}

nav{
padding-top: 20px;
text-align: center;
}
    
.titleBusyo{
margin-bottom: 20px;

color: #20272c;

/* color: #006cbb; */

font-weight: 500;

}

.keiei{
    
top: 20px;

}

.title01, .title02, .title03 {

width: 930px;
height: 350px;


}

.middleBox{
    
    margin-top: 55px;

}

.downbt01{

    background-color:white;
    color:#9a9a9a;
    

}

.downbt02{

    background-color:white;
    color:#9a9a9a;
    
}

.downbt03{

    background-color:white;
    color:#9a9a9a;
   
}

.boardTitle{
    padding-top: 20px;
    border-top :1px solid #dddddd;

    border-bottom: 1px solid #dddddd;

    font-weight: 500;

}

.boardBig{
    font-weight: 600;
    color: #20272c;
}

.ttt01{
    color: #414e59;

}

.ttt02{
    color: #414e59;

}

.ttt03{
    color: #414e59;
   
}


/* .pagi{

 

} */

/* .lastLogo{

    width: 150px;
    height: 80px;

} */

